body{
    background-image: url('C:/Users/eviei/Desktop/GIT_Exemplo/flask_blog_PI_UNIVESP/img/fundocontador.jpg');
}

h1 {
    border: 2px #2c439f solid;
    color: #2d7abd;
    text-align: center;
    padding: 10px;
}

h10 {
    border: 1px #2c439f solid;
    color: blue;
    text-align: center;
    padding: 10px;
}

