body{
    background-image: url('C:/Users/eviei/Desktop/GIT_Exemplo/flask_blog_PI_UNIVESP/img/fundocontador.jpg');
}


p {
  margin: 0;
  text-indent: 3ch;
  color: #3a2525;
}

p.caldeirao {
   text-indent: 0;
   display: inline;
}
p.caldeirao + p.caldeirao::before {
  content: " ¶ ";
}


h1 {
    border: 2px #2c439f solid;
    color: #2d7abd;
    text-align: center;
    padding: 10px;
}

h10 {
    border: 1px #2c439f solid;
    color: blue;
    text-align: center;
    padding: 10px;
}

table {font-family: Calibri, Calibri; border-collapse: separate;
        width: 100px ;  border-radius: 10px; padding: 10px; alignment: center ; align-content: center; align-items: center;
        background-color: rgba(187, 236, 230, 0,2); align-self: center; text-align-all: center }