
{% extends 'base.html' %}

{% block content %}
    <section class="container" >
        <h1 class="nome-hidden">{% block title %} Projeto Integrador UNIVESP 2º Semestre 2021  {% endblock %}</h1>
        <h2 class="nome-paginas">Aprofundando o Tema - Carrapatos</h2>

        <p>Os carrapatos constituem um grupo importante sob o aspecto médico-veterinário,
            devido a espoliação que causa aos seus hospedeiros, bem como à sua capacidade de
            transmissão de patógenos (SONENSHINE; ROE, 2014), dentre os quais estão bactérias, vírus,
            protozoários e helmintos (CAMARGO-MATHIAS, 2018; DANTAS-TORRES, 2010; KAUFMAN, 1989; SONENSHINE; ROE, 2014). </p>

        <p>O parasitismo por carrapatos provoca prejuízos aos seus hospedeiros, principalmente devido ao seu hábito alimentar
                que, além de provocar lesões na pele, abre portas para a entrada de microrganismos responsáveis pela instalação
                de infecções secundárias (miíases cutâneas) e até mesmo pela transmissão de agentes que podem provocar paralisia,
                devido a ação da potente saliva do ectoparasita. Quando se trata de hospedeiros que tem importância econômica
                (bois e cavalos), ainda há que contabilizar os danos causados na produtividade dos mesmos o que consequentemente
            afetará a comercialização de seus derivados (WALL; SHEARER, 1997).</p>

        <p>No Brasil, a espécie Rhipicephalus microplus, anteriormente conhecido como Boophilus microplus é o mais importante
                ectoparasita dos bovinos que, quando parasitados, perdem sua qualidade, bem como a de seus produtos e isso
                provoca prejuízos que incluem a mortalidade e a redução das taxas de natalidade dos mesmos (GHOSH; AZHAHIANAMBI;
                FUENTE, 2006; HIGA et al., 2015). Essa espécie é responsável pela transmissão de babésias (Babesia bovis e
                Babesia bigemina) e anaplasmas (Anaplasma marginale), doenças responsáveis por perdas econômicas que chegam a
            três bilhões de dólares anuais ao setor pecuário (HIGA et al., 2015).</p>

        <p>Os carrapatos da espécie Amblyomma sculptum são conhecidos popularmente como carrapato-estrela, e o adulto da espécie
                é considerado ser um dos principais vetores da bactéria Rickettsia rickettsii, parasita intracelular obrigatório
                que causa nos portadores a Febre Maculosa Brasileira (FMB). Além disso, essa espécie também é vetora da Theileria
            equi, agente etiológico da piroplasmose equina (GUEDES et al., 2005; SCOLES et al., 2011).</p>

        <p>Já o carrapato Rhipicephalus sanguineus é considerado ser no Brasil o principal ectoparasita de cães e tem assumido
                cada vez mais um papel relevante entre as espécies de importância mundial, fato este ressaltado pela grande
                atenção com que a indústria farmacêutica veterinária trata esta espécie. Nos cães, além dos danos diretos, ele
                é ainda responsável pela transmissão de Ehrlichia canis, Babesia canis, Haemobartonella canis e Hepatozoon canis.
                Nos humanos esta espécie também é vetora da Rickettsia conorii na Europa e da R. rickettsii no Arizona –
                EUA (BORGES et al., 2007). No Brasil é considerado ser um potencial transmissor deste último agente, o que
                o torna especialmente importante, uma vez que há relatos no Brasil de parasitismo humano por este carrapato
                (DANTAS-TORRES et al., 2006).

        </p>
    </section>
{% endblock %}
