
{% extends 'base.html' %}

{% block content %}
    <section class="container" >
        <h1 class="nome-hidden">{% block title %} Projeto Integrador UNIVESP 2º Semestre 2021  {% endblock %}</h1>
        <h2 class="nome-paginas">Aprofundando o Tema - Dengue</h2>

    <p>A dengue é uma doença viral transmitida pelo mosquito Aedes aegypti e é uma das
mais frequentes em regiões tropicais e subtropicais. Nos últimos 50 anos a incidência da
doença aumentou 30 vezes segundo a Organização Mundial da Saúde (OMS) (ARAÚJO et
al., 2016). Constituindo um importante problema de saúde pública devido seus fatores
biológicos envolvidos em seu ciclo de transmissão, pode ser considerada como um
        subproduto da urbanização acelerada e sem planejamento (SAN PEDRO et al., 2009).</p>

<p>Uma doença infecciosa febril aguda causada por um vírus que pertence à família
Flaviviridae, do gênero Flavivírus, é principalmente transmitido devido a picada de um
mosquito fêmea infectado. Dividido em quatro sorotipos denominados DENV-1, DENV-2,
DENV-3 e DENV-4. Esta doença apresenta quatro tipos de manifestações clínicas: infecção
inaparente, dengue clássica, febre hemorrágica da dengue ou síndrome do choque da dengue
    (ARAÚJO et al., 2016).</p>
<p>Para o controle da doença, se faz necessário o combate direto com o vetor transmissor,
o mosquito Aedes aegypti, e devido a relevância e preocupação com o tema proposto e na
dificuldade desse controle na proliferação dos focos da larva, a ideia do projeto consiste em
desenvolver ferramenta web de geolocalização para um mapeamento mais preciso e eficiente
    dos focos de larvas do mosquito Aedes aegypti na região de Piracicaba-SP.</p>


     </section>
{% endblock %}
