{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} Criar nova postagem {% endblock %}</h2>

<form method="post">
    <div class="form-group">
        <label for="title">Tipo de contato</label>
        <input type="text" name="title"
               placeholder="Insira o contato com o carrapato" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>


    <div class="form-group">
    <label for="Bairro">Selecione o bairro</label>
    <select class="form-control" value="{{ request.form['content'] }}">
        <option></option>
      <option>Bairro 1</option>
      <option>Bairro 2</option>
      <option>Bairro 3</option>
      <option>Bairro 4</option>
      <option>Bairro 5</option>
    </select>
  </div>




    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
{% endblock %}