    <!section>
            <!div id="banner">
                <!h1 class="nome-hidden">{% block title %} Projeto Integrador UNIVESP 2º Semestre 2021{% endblock %}<!/h1>
                <!p1 class="font-size-13">PIRACICABA - SP<!/p1>
                <!img src="../static/css/images/Carrapato-img.svg" alt="Carrapato" class="center">

                <!p2 class="font-size-13">CONTATO COM CARRAPATO?<small>REGISTRE SUA OCORRÊNCIA!</small><!/p2>
            <!/div> >
    <!/section>


   <div class="table-btn">
            <div class="row-btn">
                <a href="/create" class="btn btn-primary btn-lg active cell-btn"  role=/create.html aria-pressed="true">Registre sua ocorrência</a>

            </div>



       <br>
        <p3>Abaixo são exibidos os dados de relatos de ocorrências de carrapatos ordenados por bairros:</p3>
        <p></p>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtro por data
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Últimos 30 dias</a>
            <a class="dropdown-item" href="#">Últimos 6 meses</a>
            <a class="dropdown-item" href="#">Últimos 12 meses</a>
            <div class="dropdown-divider"></div>

          </div>
        </div>