{% extends 'base.html' %}

{% block content %}
       <h5>{% block title %} Projeto Integrador UNIVESP 2º Semestre 2021  {% endblock %}</h5>

<form method="sl_db3">

     <div class="form-group">
    <label for="selection">Filtro de Dados</label>
    <select name="title" class="form-control" value="{{ request.form['selection'] }}">
<option></option>
      <option>Último Mês</option>
      <option>Período de 6 meses</option>
      <option>Período 1 ano</option>
     </select>
  </div>

        <div class="form-group">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>


 <table>

    <table class="table table-striped">
  <tr>
    <th>Bairros</th>
    <th>Ocorrências</th>
  </tr>
    {% for Res in Res_filtro %}

        <tr>
    <td><a href="{{ url_for('filter') }}">
            <d6>{{ Res['Bairros'] }}</d6>
        </a>
        <td><d6>{{ Res['Ocorrências'] }}</d6>
        </td>

  </tr>

    {% endfor %}

{% endblock %}




