
{% extends 'base.html' %}

{% block content %}

    <br>

    <section class="container" id="corpo-inicio">

    <br>


        <p></p>
        <p1>Este projeto foi desenvolvido para realizar um mapeamento dos focos de Dengue na
            cidade de Piracicaba-SP.</p1>
        <br>
        <br>
        <p3>Para informar um potencial foco de criação clique no botão abaixo: </p3>
        <br>
        <div class="table-btn">
            <div class="row-btn">
                <a href="/create" class="btn btn-primary btn-lg active cell-btn"  role=/create.html aria-pressed="true">Registre sua ocorrência</a>

            </div>
        </div>
        <div>
            <div id="map"></div>

            <script>
                var map = L.map('map').setView([-22.72530680770728, -47.64942216337267], 11.5);

                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                minZoom: 11.5,
                maxZoom: 15,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoicG9uY2VnaCIsImEiOiJjbDJvMWhncm4wMW04M2NtajdscHlib285In0.UfM2xByqa_5RqYcTEVcOhQ'
                }).addTo(map);

                var Geo_pontos = '{{Geo_pontos}}';
                Geo_pontos = Geo_pontos.replaceAll("[([",'')
                Geo_pontos = Geo_pontos.replaceAll("],)]",'')
                Geo_pontos = Geo_pontos.split("],), ([")
                Geo_pontos = Array.from(Geo_pontos)

                var markers = new L.markerClusterGroup();

                var heat = [];

                for (var i = 0; i < Geo_pontos.length; i++) {
                    var linha_geo = Geo_pontos[i];
                    linha_geo = linha_geo.replaceAll("'","")
                    linha_geo = linha_geo.split(", ")
                    linha_geo = Array.from(linha_geo)
                    var title = linha_geo[2];
                    tipo = linha_geo[3];
                    data = linha_geo[4];

                    var marker = L.marker(new L.LatLng(linha_geo[0], linha_geo[1]), { tipo: tipo }, {data: data});
                    heat.push([linha_geo[0],linha_geo[1]]); 
                    console.log(heat);
                    marker.bindPopup(tipo.slice(5,-2) + ''+ data.slice(4,-2));
                    markers.addLayer(marker);
                }
                map.addLayer(markers);


                var mapheat = L.heatLayer(heat,{radius:25}).addTo(map);

                var popup = L.popup();

                var hotText = 'Clique aqui.';
                var URL = '/create';


                function onMapClick(e) {
                  popup
                    .setLatLng(e.latlng)
                    .setContent("Deseja adicionar uma ocorrência?"+hotText.link(URL))

                    .openOn(map);
                    }

                    map.on('click', onMapClick);

                L.control.locate().addTo(map);

            </script>
        </div>
    </section>
{% endblock %}


