{% extends 'base.html' %}

{% block content %}
       <h2>{% block title %} Projeto Integrador UNIVESP 2º Semestre 2021  {% endblock %}</h2>

    <p> O projeto foi desenvolvido pelos alunos do 8° bimestre do Eixo de Computação,
        da Universidade Virtual do Estado de São Paulo, no Polo de Piracicaba.
    </p>
    <p>Tem como objetivo geral, desenvolver uma aplicação web (site), sobre a biologia dos carrapatos,
        doenças causadas tanto em humanos quanto em animais e de mapeamento de áreas infestadas por esses ectoparasitas.</p>

<p>Levando em consideração a importância médica e veterinária desses ectoparasitas,
    o tema do trabalho escolhido para a realização do Projeto Integrador I foi “Aplicação Web Educativa Sobre Carrapatos”,
    pois foi observado que, ainda perante o esforço do governo em combater as doenças relacionadas a esses animais,
    os índices de infestação/contaminação continuam altos, principalmente na cidade de Piracicaba, foco do projeto.
    Mediante análises de questionários aplicados à população, notou-se que há desinformação da população acerca dos
    problemas relacionados aos carrapatos.</p>
   <p>A escolha da cidade de Piracicaba como local de realização do Projeto, vem do fato de que a cidade apresenta taxas
    significativas de infestações por carrapatos, seja em humanos ou em animais. A cidade tem a Rua do Porto
    (Avenida Beira Rio), como um de seus mais importantes pontos turísticos, que está localizado às margens do
    Rio Piracicaba, local onde há capivaras. É sabido que as capivaras, maior roedor do mundo que estão relacionados
    a corpos d’água, desempenham papel importante como hospedeiros do carrapato-estrela e, portanto, da disseminação
    da Febre Maculosa. Assim, muitas das pessoas que frequentam o local não seguem as normas de segurança
    (placas sinalizadoras sobre infestações de carrapatos colocadas pela Prefeitura) e fazem isso sem ao menos ter
        conhecimento das doenças que podem ser transmitidas por esses ectoparasitas.</p>
   <p>Como o principal problema é a falta de informação sobre a biologia de carrapatos, a aplicação web buscará preencher
    estas lacunas, atualizando o usuário de forma rápida e eficiente, conscientizando as pessoas sobre os riscos de
    infestações por carrapatos em Piracicaba. Para isto, estudaremos a implementação de várias linguagens de programação
    para efetivar o site em sua forma prática, bem como o uso de Banco de Dados. Também há a proposta da disponibilização
    de diversas fontes de informação que seja de fácil acesso a todos os usuários. Então cada qual poderá se aprofundar
    livremente aos assuntos que terão como foco alertar sobre doenças transmitidas, métodos para a prevenção, além de
        informar sobre a biologia e curiosidades dos carrapatos.</p>
   <p>Portanto, o objeto de estudo aqui tratado será a implementação de uma ferramenta web que ajude a Prefeitura,
    sistemas de saúde e até a população geral a prevenir infestações por carrapatos e divulgar informações pertinentes
    sobre o assunto. O site em questão, será uma ferramenta que além de conscientizar e informar, terá o papel de reunir
    informações coletadas dos usuários e divulgá-las em formas de dados estatísticos, gráficos e/ou numéricos.
    </p>


{% endblock %}
