{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <h1 class="nome-hidden">{% block title %} Projeto Integrador UNIVESP 2º Semestre 2022  {% endblock %}</h1>
        <h2 class="nome-paginas">Sobre Nós</h2>

        <p> O projeto foi desenvolvido por alunos do 6° semestre do Eixo de Computação,
            da Universidade Virtual do Estado de São Paulo.

       <p>O objeto de estudo aqui tratado será a implementação de uma ferramenta web que ajude a Prefeitura,
        sistemas de saúde e até a população geral a identificar focos de Dengue na cidade de Piracicaba. A aplicação em questão,
           será uma ferramenta que além de conscientizar e informar, terá o papel de reunir
        informações coletadas dos usuários e divulgá-las em formas de dados estatísticos, gráficos e/ou numéricos.
        </p>

    </section>
{% endblock %}
